body{
  background-color: #5f9ea0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#130f0f;
}
h1{
  font-size: 562.5%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #36b9b9;
}
h2{
  font-size: 2.5rem;
  margin-top: 0%;
  font-family: 'Montserrat', sans-serif;
  color: #3d311e;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #3d311e;
}
a{
  color: #3d301c;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #e0aa53;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 220px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 3500px;
}
.building-img{
  position: relative;
  width: 25%;
  left: 350px;
  top: 30px;
}
.top_container{
  background-color: #e4f9f5;
  position: relative;
  padding-top : 90px;
  padding-bottom: 0;
  margin-bottom: 0;
  
}
.profile-pic{
  width:23%;
  margin-bottom: 15px;
}
.profile{
  width: 80%;
  margin: 0 auto;
}
hr{
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
  margin: 50px auto;
  border-color: #262e2c;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
p{
  line-height: 150%;
}
.image-1{
  width: 25%;
  float: left;
  margin: 0 30px 0 0;
}
.image-2{
  width: 25%;
  float: right;
  position: relative;
  bottom: 30px;
}
.image-3{
  margin: 0 30px 0 0;
  width: 25%;
  float: left;
}
.middle-container{
  margin: 75px 0;
}
.bottom-container{
  background-color: #e4f9f5;
  padding: 50px 0 20px;
}
.copyright{
  color: #3d301c;
  font-size: 0.75rem;
  padding: 15px 0px;
}
.btn{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #2980B9);
  background-image: -moz-linear-gradient(top, #11CDD4, #2980B9);
  background-image: -ms-linear-gradient(top, #11CDD4, #2980B9);
  background-image: -o-linear-gradient(top, #11CDD4, #2980B9);
  background-image: -webkit-gradient(to bottom, #11CDD4, #2980B9);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

.btn:hover {
  border: solid #337FED 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
}